.parent {
  display: grid;
  grid-template-columns: repeat(6, 200px) 1fr;
  grid-template-rows: repeat(2, 50px) 100px repeat(2, 150px) 80px 1fr;
  grid-column-gap: 1px;
  grid-row-gap: 1px;
}

.div1 { grid-area: 2 / 3 / 3 / 4;
align-content: center;
}
.div2 { grid-area: 2 / 4 / 3 / 5; }
.div3 { grid-area: 2 / 5 / 3 / 6; }
.div4 { grid-area: 2 / 6 / 3 / 7; }
.div5 { grid-area: 1 / 1 / 4 / 2; }
.div6 { grid-area: 4 / 1 / 5 / 2;
  margin-top: 60px;
}
.div7 { grid-area: 3 / 2 / 4 / 3;
align-items: center;
                                  }
.div8 { grid-area: 4 / 2 / 6 / 3;
}
.div9 { grid-area: 6 / 2 / 7 / 3;

}
.div10 { grid-area: 3 / 3 / 4 / 4; }
.div11 { grid-area: 4 / 3 / 5 / 4; }
.div12 { grid-area: 5 / 3 / 6 / 4;

}
.div13 { grid-area: 6 / 3 / 7 / 4; }
.div14 { grid-area: 3 / 4 / 4 / 5; }
.div15 { grid-area: 4 / 4 / 5 / 5; }
.div16 { grid-area: 5 / 4 / 6 / 5; }
.div17 { grid-area: 6 / 4 / 7 / 5; }
.div18 { grid-area: 3 / 5 / 4 / 6; }
.div19 { grid-area: 4 / 5 / 5 / 6; }
.div20 { grid-area: 5 / 5 / 6 / 6; }
.div21 { grid-area: 6 / 5 / 7 / 6; }
.div22 { grid-area: 3 / 6 / 4 / 7; }
.div23 { grid-area: 4 / 6 / 5 / 7; }
.div24 { grid-area: 5 / 6 / 6 / 7; }
.div25 { grid-area: 6 / 6 / 7 / 7; }
.input-color {
  position: relative;
}
.input-color input {
  padding-left: 20px;
}
.input-color .color-box {
  width: 10px;
  height: 10px;
  display: inline-block;
  background-color: #ccc;
  position: absolute;
  left: 5px;
  top: 5px;
}
.vertical-menu {
  width: 18px;
  height: 100px;
  overflow-y: auto;
}

.vertical-menu a {
  background-color: #eee;
  color: black;
  display: block;
  padding: 12px;
  text-decoration: none;
}

.vertical-menu a:hover {
  background-color: #ccc;
}

.vertical-menu a.active {
  background-color: #04AA6D;
  color: white;
}
