<div class="container">
  <div class="main-body">

    <div class="row gutters-sm">
      <div class="col-md-4 mb-3">
        <div class="card">
          <div class="card-body">
            <div class="d-flex flex-column align-items-center text-center">
              <img src="/assets/icon/tshort.png" alt="tshirt" class="rounded-circle" width="150">
              <div class="mt-3">
                <!--                <h4>{{profile.firstName}} {{profile.lastName}}</h4>-->

                <button class="btn btn-dark" (click)="addCloth()">Update</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <div class="card mb-3">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">First Name</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                <!--                {{profile.firstName}} {{profile.lastName}}-->
                <input [(ngModel)]="clothesType" type="text" name="clothestype" placeholder="Type of clothes"/>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">Clothes Name</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                <!--                {{this.user}}-->
                <input [(ngModel)]="clothesName" type="text" name="clothesName" placeholder="Clothes Name"/>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">Color</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                <!--                {{profile.age}}-->
                <input [(ngModel)]="color" type="text" name="color" placeholder="Color"/>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">Size</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                <!--                {{profile.size}}-->
                <input [(ngModel)]="size" type="text" name="size" placeholder="Size"/>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">Gender</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                <!--                {{profile.gender}}-->
                <input [(ngModel)]="gender" type="text" name="gender" placeholder="Gender"/>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">Occasional</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                <!--                {{profile.gender}}-->
                <input [(ngModel)]="occasional" type="text" name="occasional" placeholder="Occasional"/>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">Layer</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                <!--                {{profile.gender}}-->
                <input [(ngModel)]="layer" type="number" name="layer" placeholder="Layer"/>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">Image Path</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                <!--                {{profile.path}}-->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--<div class="center">-->
<!--  <form>-->
<!--    <h2 class="font-custom">Add clothes</h2>-->
<!--    <div class="spacing"><input  [(ngModel)]="clothesType" type="text" name="clothesType" placeholder="Clothes Type"/></div>-->
<!--    <br>-->
<!--    <div class="spacing"><input  [(ngModel)]="clothesName" type="text" name="clothesName" placeholder="Clothes Name"/></div>-->
<!--    <br>-->
<!--    <div class="spacing"><input [(ngModel)]="color" type="number" name="color" placeholder="Color"/></div>-->
<!--    <br>-->
<!--    <div class="spacing"><input [(ngModel)]="size" type="text" name="size" placeholder="Size"/></div>-->
<!--    <br>-->
<!--    <div class="spacing"><input [(ngModel)]="occasional" type="text" name="occasional" placeholder="Occasional"/></div>-->
<!--    <br>-->
<!--    <div class="spacing"><input [(ngModel)]="gender" type="text" name="gender" placeholder="Gender"/></div>-->
<!--    <br>-->
<!--    <div class="spacing"><input [(ngModel)]="layer" type="text" name="layer" placeholder="Layer"/></div>-->
<!--    <br>-->
<!--    <div class="spacing"><input [(ngModel)]="path" type="text" name="path" placeholder="Image Path"/></div>-->
<!--    <br>-->
<!--    <div class="spacing"><input (click)="addCloth()" type="submit" value="Submit"/></div>-->
<!--  </form>-->
<!--</div>-->
