.main-grid{
  display: grid;
  grid-template-columns: 40% 60%;
}
.carousel-item img {
  height: 500px;
  width: 400px
}
.grid-one{
  grid-column: 1;
}
.grid-two{
  font-family: 'Pattaya', sans-serif;
  grid-column: 2;
}
.center {
  margin-top: 45%;
  margin-left: 40px;
  width: 80%;
  padding: 10px;
}
.image-shaping{
  margin-top: 200px;
  margin-bottom: 700px;
}
