.main-grid{
  display: grid;
  grid-template-columns: 40% 60%;
}
.carousel-item img {
  height: 900px;
  width: 500px
}
.grid-one{
  grid-column: 1;
}
.grid-two{
  font-family: 'Pattaya', sans-serif;
  grid-column: 2;
}
.center {
  margin: auto;
  width: 70%;
  padding: 10px;
}
