
.btn1{
  margin: 30px;
}
.title-custom{
  margin-right: 30px;
}
.font-custom{
  font-family: 'Pattaya', sans-serif;
  font-size: xx-large;
}
#navbarCollapse ul li {
  display: inline-block;
}
.background-custom{
  background: gray;
}
