<nav class="navbar navbar-expand-sm navbar-light bg-light font-custom">
  <a class="navbar-brand font-custom" href="#">
    <img src="assets/brand/goddess1.png" width="60" height="60" class="d-inline-block align-top" alt="">
    Dress App
  </a>
  <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarMenu">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarMenu">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a href="login" class="nav-link">Login</a>
      </li>
      <li>
        <a href="register" class="nav-link">Register</a>
      </li>
    </ul>
  </div>
</nav>


