<!--<app-navbar></app-navbar>-->
<div class="container center">
  <form >
    <div>
      <h2 class="font-custom">Login a User</h2>
      <div class="spacing"><input [(ngModel)]="email" type="text" name="email" placeholder="User Name"/></div>
      <br>
      <div class="spacing"><input [(ngModel)]="password" type="text" name="password" placeholder="Password"/></div>
      <br>
      <div class="spacing"><input (click)="loginUser()" type="submit" value="Log In"/></div>
    </div>
  </form>
</div>


<!--<router-outlet></router-outlet>-->
