<div class="container">
  <div class="main-body">

    <div class="row gutters-sm">
      <div class="col-md-4 mb-3">
        <div class="card">
          <div class="card-body">
            <div class="d-flex flex-column align-items-center text-center">
              <img src="assets/avatar/{{selectedAvatar}}.png" alt="Admin" class="rounded-circle"  width="100" height="100">
              <div class="mt-3">
<!--                <h4>{{profile.firstName}} {{profile.lastName}}</h4>-->

                <button class="btn btn-dark" (click)="profileUpdater()">Update</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <div class="card mb-3">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0 font-custom1">First Name</h6>
              </div>
              <div class="col-sm-9 text-secondary">
<!--                {{profile.firstName}} {{profile.lastName}}-->
                <input [(ngModel)]="firstName" type="text" name="email" placeholder="First Name"/>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0 font-custom1">Last Name</h6>
              </div>
              <div class="col-sm-9 text-secondary">
<!--                {{this.user}}-->
                <input [(ngModel)]="lastName" type="text" name="email" placeholder="Last Name"/>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0 font-custom1">Age</h6>
              </div>
              <div class="col-sm-9 text-secondary">
<!--                {{profile.age}}-->
                <input [(ngModel)]="age" type="number" name="age" placeholder="Age"/>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0 font-custom1">Size</h6>
              </div>
              <div class="col-sm-9 text-secondary">
<!--                {{profile.size}}-->
                <input [(ngModel)]="size" type="text" name="size" placeholder="Size"/>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0 font-custom1">Gender</h6>
              </div>
              <div class="col-sm-9 text-secondary">
<!--                {{profile.gender}}-->
                <input [(ngModel)]="gender" type="text" name="gender" placeholder="Gender"/>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0 font-custom1">Image Path</h6>
              </div>
              <div class="col-sm-9 text-secondary">
<!--                <input [(ngModel)]="path" type="text" name="path" placeholder="path"/>-->
                <select (change)="selectChangeHandler($event)">
                  <option value = "avatar1">avatar1</option>
                  <option valu e= "avatar2">avatar2</option>
                  <option valu e= "avatar3">avatar3</option>
                  <option valu e= "avatar4">avatar4</option>
                  <option valu e= "avatar5">avatar5</option>
                  <option valu e= "avatar6">avatar6</option>
                  <option valu e= "avatar7">avatar7</option>
                  <option valu e= "avatar8">avatar8</option>
                  <option valu e= "avatar9">avatar9</option>
                  <option valu e= "avatar10">avatar10</option>
                </select>
<!--                <p><span>You selected: </span><b>-->
<!--                  {{selectedAvatar}}</b></p>-->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
