<div class="container">
  <div class="main-body">

    <div class="row gutters-sm">
      <div class="col-md-4 mb-3">
        <div class="card">
          <div class="card-body">
            <div class="d-flex flex-column align-items-center text-center">
              <img src="assets/avatar/{{profile.path}}.png" alt="Admin" class="rounded-circle" width="100" height="100">
              <div class="mt-3">
                <h4>{{profile.firstName}} {{profile.lastName}}</h4>

                <button class="btn btn-dark" routerLink="/editprofile">Edit profile</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <div class="card mb-3">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0 font-custom1">Full Name</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                {{profile.firstName}} {{profile.lastName}}
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0 font-custom1">Email</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                {{this.user}}
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0 font-custom1">Age</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                {{profile.age}}
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0 font-custom1">Size</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                {{profile.size}}
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0 font-custom1">Gender</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                {{profile.gender}}
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0 font-custom1">Image Path</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                {{profile.path}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--<div class="container">-->
<!--  <div class="title center">-->
<!--    <h2 class="font-custom">Profile</h2>-->
<!--  </div>-->

<!--  <div class="pictureselection form-group">-->
<!--    <p>Profile picture</p>-->
<!--    <img src="/assets/avatar/avatar1.png" alt="..." class="img-thumbnail">-->

<!--    <select class="selectpicker" size="1">-->
<!--      <option selected>Open this</option>-->
<!--      <option>Avatar1</option>-->
<!--      <option>Avatar2</option>-->
<!--      <option>Avatar3</option>-->
<!--      <option>Avatar4</option>-->
<!--      <option>Avatar5</option>-->
<!--      <option>Avatar6</option>-->
<!--      <option>Avatar7</option>-->
<!--      <option>Avatar8</option>-->
<!--      <option>Avatar9</option>-->
<!--      <option>Avatar10</option>-->
<!--    </select>-->
<!--    <br>-->
<!--    <div class="spacing"><input (click)="updateProfile()" type="submit" value="Profile"/></div>-->

<!--  </div>-->
<!--  <div class="firtslastname">-->
<!--    <form class ="form-label">-->
<!--      <label>First Name</label>-->
<!--      <div class="spacing"><input  [(ngModel)]="firstName" type="text" name="firstName" placeholder="First Name"/></div>-->
<!--      <br>-->
<!--      <p>Last Name</p>-->
<!--      <div class="spacing"><input  [(ngModel)]="lastName" type="text" name="lastName" placeholder="Last Name"/></div>-->
<!--      <br>-->
<!--&lt;!&ndash;      <div class="spacing"><input [(ngModel)]="path" type="text" name="path" placeholder="Image Path"/></div>&ndash;&gt;-->
<!--&lt;!&ndash;      <br>&ndash;&gt;-->
<!--      <p>Age</p>-->
<!--      <div class="spacing"><input [(ngModel)]="age" type="number" name="age" placeholder="Age"/></div>-->
<!--      <br>-->
<!--      <p>Size</p>-->
<!--      <select class="selectpicker" size="1">-->
<!--        <option selected>Your size</option>-->
<!--        <option>S</option>-->
<!--        <option>M</option>-->
<!--        <option>L</option>-->
<!--        <option>XL</option>-->
<!--        <option>XXL</option>-->
<!--      </select>-->
<!--      <br>-->
<!--      <p>Gender</p>-->
<!--      <div class="spacing"><input [(ngModel)]="gender" type="text" name="gender" placeholder="Gender"/></div>-->
<!--      <br>-->
<!--    </form>-->
<!--  </div>-->

<!--  <div class="agegender">-->
<!--    <form>-->

<!--    </form>-->
<!--  </div>-->

<!--</div>-->

